# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- Виртуальное окружение ---
venv/
.venv/
env/

# --- Дистрибутивы и сборка ---
build/
dist/
*.egg-info/
*.spec

# --- IDE ---
.idea/
.vscode/
*.swp

# --- Системное ---
.DS_Store
Thumbs.db

# --- Локальные данные ---
*.log
